<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/img/briefcase.png" width="30" height="30" alt="Payrolled" class="d-inline-block align-top"/>&nbsp;&nbsp;&nbsp;Payrolled
        </a>
        <!--<ul class="navbar-nav ml-auto">-->
            <!--<li class="nav-item"><a href="/why">Why public salaries?</a></li>-->
            <!--&lt;!&ndash;<li class="nav-item"><a href="/jobs/new" class="btn-addjob">Post a job</a></li>&ndash;&gt;-->
        <!--</ul>-->
    </div>
</nav>