<!doctype html>
<html lang="en">
{% include head.html %}
<body id="homepage">
{% include navigation.html %}

<div class="content container">
    <div class="job-listing">
        {% assign sorted_jobs = site.data.jobs | sort: 'date' | reverse %}
        {% for job in sorted_jobs %}
            <a href="#">
                <div class="row job">
                    <div class="col-2 col-sm-1 source-logo">
                        <a href="{{ job.url }}">
                            <img src="/img/{{ job.source }}-logo.png" width="35" height="35" alt="StackOverflow" />
                        </a>
                    </div>
                    <div class="col-8 col-sm-9 job-description">
                        <div class="job-title">
                            <a href="{{ job.url }}">{{ job.title }}</a>
                        </div>
                        <div class="metadata text-muted">
                            <small>
                                {{ job.company.name }} &nbsp;|&nbsp;
                            </small>
                            <small>
                                <i class="fa fa-map-marker" style="color: #acacac">&nbsp;</i>
                            </small>
                            <span class="location text-muted">
                                    <small>
                                        {{ job.location }} &nbsp;|&nbsp;
                                    </small>
                                </span>
                            <small>
                                <span class="posted text-muted">
                                {{ job.date | timeago }}
                                </span>
                            </small>
                        </div>
                    </div>
                    <div class="col-2 salary">
                        €{{ job.salary.from }}<br>&#8942;<br>
                        €{{ job.salary.to }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
</body>
{% include footer.html %}
</html>